<footer class="text-white flex w-full bg-black">
    <div
        class="flex flex-wrap min-[820px]:flex-nowrap ml-auto mr-auto p-8 gap-20 justify-center place-items-center items-start">
        <div>
            <p class="font-bold mb-2">Securing Autonomous Vehicles</p>
            <ul class="flex flex-row justify-between gap-16">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Get Started</li>
                </ul>
                <ul>
                    <li>Members</li>
                    <li>News Room</li>
                </ul>
                <ul>
                    <li>Papers</li>
                    <li>GitHub</li>
                    <li>Google Drive</li>
                </ul>
            </ul>
        </div>
        <div class="flex gap-24">
        <div>
            <p class="font-bold mb-2">Contact</p>
            <ul>
                <li>134 Lomb Memorial Drive</li>
                <li>Rochester, NY 14623</li>
                <li>nidhi.rastogi@rit.edu</li>
            </ul>
        </div>
        <div class="flex flex-col space-y-4">
            <button class="w-32 bg-transparent border-2 border-white hover:bg-white-500">GitHub</button>
            <button class="w-32">Contribute</button>
        </div>
        </div>
    </div>
</footer>