<header class="py-20 px-4 bg-center bg-cover" style="background-image: url('assets/img/hero-bg.jpg');">
    <div class="flex justify-center flex-col max-w-4xl ml-auto mr-auto">
        <h1 class="text-[#FFE6CF]">Explainable Security:<br> Autonomous Vehicles</h1>
        <p class="max-w-prose text-white">Duis nec nullam volutpat diam. Leo mauris blandit mi ac imperdiet posuere. Est
            facilisi nisi,
            turpis viverra mi
            arcu. Sed volutpat dui dignissim neque, venenatis natoque in. Et sem sed mauris porttitor.</p>

        <div class="mt-16 flex justify-end space-x-6">
            <button class="">Contribute</button>
            <button class="bg-transparent border-2 border-white hover:bg-white-500">GitHub</button>
        </div>
    </div>
</header>