<header class="pt-24 pb-20 sm:py-12 px-6 bg-center bg-cover" style="background-image: url('{{site.baseurl}}/assets/img/hero-bg.webp'), url('{{site.baseurl}}/assets/img/hero-bg.jpg');">
    <div class="flex justify-center flex-col max-w-4xl ml-auto mr-auto">
        <h1 class="text-[#FFE6CF] ml-1">{{ page.title }}</h1>
        <div class="flex justify-start space-x-6">
            <button class="btn btn--orange">Contribute</button>
            <button class="btn btn--light-orange">GitHub</button>
        </div>
    </div>
</header>