    <nav class="w-48 min-w-fit mr-2">
      <ul class="sticky top-10 left-0 text-right space-y-2">
        <li><a class="text-gray-500" href="#a">Home</a></li>
        <li><a class="text-gray-500" href="#b">About</a></li>
        <li><a class="text-gray-500" href="#c">Get Started</a></li>
        <li><a class="text-gray-500 hover:text-gray-400" href="#d">Members</a></li>
        <li><a class="text-gray-500 hover:text-gray-400" href="#d">News Room</a></li>
        <li><a class="text-gray-500 hover:text-gray-400" href="#d">GitHub</a></li>
      </ul>
    </nav>