---
---

@tailwind base;

@layer base {
    h1 {
      @apply text-5xl font-bold leading-10 mb-10 leading-[3rem];
    }
    h2 {
      @apply text-2xl font-bold leading-7 mb-5;
    }
    h3 {
      @apply text-xl font-bold leading-6;
    }
    a {
      @apply text-primary-color hover:text-slate-600 inline-block;
    }
    .btn {
      @apply transition-all text-white bg-primary-color rounded-full w-48 text-center font-bold py-2 border-primary-color border-2;
    }
    .btn--orange {
      @apply hover:text-white hover:bg-[#e26105] border-primary-color hover:border-[#e26105];
    }
    .btn--light-orange {
      @apply bg-transparent text-secondary-color border-secondary-color hover:bg-[#FFFFFF20];
    }
    .btn--black {
      @apply bg-transparent text-black border-black;
    }
    * {
      /* @apply bg-slate-500/10; */
    }

    #mobile-menu {
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;
      background-color: black;
      display: hidden;
      opacity: 0;
      transition: all .2s ease-out;
    }
    
    #mobile-menu-toggle:checked ~ #mobile-menu {
      display: block;
      opacity: 1;
    }

    /* gross code, but it checks for the hamb-line class inside of a label that follows the mobile-menu-toggle */
    #mobile-menu-toggle:checked ~ label .hamb-line {
      background: black;
    }

    #mobile-menu-toggle:checked ~ label .hamb-line::before {
      transform: rotate(45deg);
      transform-origin: 20px 2px;
    }

    #mobile-menu-toggle:checked ~ label .hamb-line::after {
      transform: rotate(-45deg);
      transform-origin: 19px 0px;
    }

    /* Menu Icon */
    .hamb {
      cursor: pointer;
      float: right;
      padding: 10px 20px;
    }

    .hamb-line {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;
      transition: all .1s ease-out;
    }

    .hamb-line::before,
    .hamb-line::after{
      background: white;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .25s ease-out;
      width: 100%;
    }
    .hamb-line::before{
      top: 5px;
    }
    .hamb-line::after{
      top: -5px;
    }

    :root {
      --primary-color: #FF6B00;
      --secondary-color: #FFE6CF;
    }
  }

@tailwind components;
@tailwind utilities;