<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  
  <body>
    <!-- side nav bar --> 
    <div class="flex w-full justify-items-center">
      {% include navigation.html %}
      <div class="max-w-prose">
      {{ content }}
      </div>
    </div>
  </body>
  {% include footer.html  %}
</html>
