<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body>
    <main class="p-10 space-x-4 max-w-6xl flex justify-center ml-auto mr-auto">
      {% include navigation.html %} 
      <div>
      {{ content }}
      </div>
  </main>
  </body>
  {% include footer.html %}
</html>
